:root {
  --main-light-color: #ffffff;
  --main-font-color: #757575;
  --secondory-font-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --logo-color: #000000;
  --boder-bg-color: #2f303a;
  --section-team-bg-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --shadow-btn-color: rgba(0, 0, 0, 0.15);
  --icon-color: #afb1b8;
}

/* Загальні стилі */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;

  color: var(--main-font-color);
  background-color: var(--main-light-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Стилі для шапки сторінок*/
.header {
  border: 1px solid var(--border-header-color);
}

.nav-flex,
.nav,
.contact-list {
  display: flex;
  align-items: center;
}
.logo,
.logo-dark {
  font-family: "Raleway";
  font-style: normal;

  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-dark {
  color: var(--logo-color);
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondory-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link.current {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  color: var(--main-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
}

/* Стилі для hero секції */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--boder-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/team-work.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  box-shadow: 0px 4px 4px var(--shadow-btn-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: var(--main-light-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.btn:hover,
.btn:focus {
  background-color: var(--secondary-accent-color);
}

/* Стилізація Особливостей */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.feature-item {
  width: 270px;
}

.group-icons {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  background-color: var(--section-team-bg-color);
}

.feature-title {
  margin-bottom: 10px;

  color: var(--secondory-font-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  width: 270px;

  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Стилізація секції "чим ми займаємось" */
.title {
  margin-bottom: 50px;

  color: var(--secondory-font-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.about.section {
  padding-top: 0;
}
.about-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
/* Стилізація секції "Наша команда" */
.team {
  background-color: var(--section-team-bg-color);
}
.team-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.team-box {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-light-color);
  text-align: center;
}
.team-title {
  margin-bottom: 10px;

  color: var(--secondory-font-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 16px;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-color);
  background-color: var(--main-light-color);
}
.icon-link:hover,
.icon-link:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}
.icon-svg {
  fill: currentColor;
}
/* Постійні клієнти */
.customers-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.customers-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: var(--icon-color);
  border-color: var(--icon-color);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.customers-icon {
  fill: currentColor;
}
/* Стилізація підвалу сторінок */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--boder-bg-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-light {
  color: var(--main-light-color);
}
.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--main-light-color);
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  line-height: 1.71;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-contact {
  color: var(--address-text-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.address-contact:hover,
.address-contact:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.join-title {
  margin-bottom: 20px;
  color: var(--main-light-color);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.join-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: var(--main-light-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
.join-svg {
  fill: currentColor;
}
/* Стилізація для сторінки портфоліо  */
/* Основний контент\фільтр секція */

.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: var(--secondory-font-color);
  background: var(--section-team-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}
.card-item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-link {
  display: inline-block;
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-box {
  padding: 20px 24px;
  border: 1px solid var(--border-color);

  background-color: var(--main-light-color);
}
.card-title {
  margin-bottom: 4px;

  color: var(--secondory-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  color: var(--main-font-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
